/* CONTEXT MENU */
#menuDir a,
#menuFile a {
  background-repeat: no-repeat;
  background-size: 20px;
  padding-left: 35px;
}

/* ACTIONS BUTTONS */
#btnAddDir,
#menuDir #mnuCreateDir {
  background-image: url(../imgs/folder_add.svg);
  background-position: 5px -3px;
}
#btnRenameFile,
#btnRenameDir,
#menuDir #mnuRenameDir,
#menuFile #mnuRenameFile {
  background-image: url(../imgs/edit.svg);
  background-position: 5px -2px;
}
#btnDeleteDir,
#menuDir #mnuDeleteDir {
  background-image: url(../imgs/folder_delete.svg);
  background-position: 5px -3px;
}
#btnAddFile {
  background-image: url(../imgs/file_upload.svg);
  background-position: 5px -2px;
}
#btnPreviewFile,
#menuFile #mnuPreview {
  background-image: url(../imgs/view.svg);
  background-position: 5px -2px;
}
#btnDownloadFile,
#menuFile #mnuDownload {
  background-image: url(../imgs/file_download.svg);
  background-position: 7px -2px;
}
#menuDir #mnuDownloadDir {
  background-image: url(../imgs/file_download.svg);
  background-position: 1px -2px;
}
#btnDeleteFile,
#menuFile #mnuDeleteFile {
  background-image: url(../imgs/delete.svg);
  background-position: 5px -2px;
  background-size: 22px;
  margin-right: 20px;
}
#btnSelectFile,
#menuFile #mnuSelectFile {
  background-image: url(../imgs/select.svg);
  background-position: 4px -2px;
}
#btnListView,
#btnThumbView {
  background-repeat: no-repeat;
  width: 40px;
  outline: none;
}
#btnListView {
  background-image: url(../imgs/list.svg);
  background-position: center center;
}
#btnThumbView {
  background-image: url(../imgs/grid.svg);
  background-position: center center;
}
#menuDir #mnuDirCopy,
#menuFile #mnuFileCopy {
  background-image: url(../imgs/copy.svg);
  background-position: 5px -2px;
}
#menuDir #mnuDirCut,
#menuFile #mnuFileCut {
  background-image: url(../imgs/cut.svg);
  background-position: 5px -2px;
}
#menuDir #mnuDirPaste,
#menuFile #mnuFilePaste {
  background-image: url(../imgs/paste.svg);
  background-position: 5px -2px;
}
#txtSearch {
  background: url(../imgs/search.svg) no-repeat 139px -3px;
}
img[src$='folder.svg'],
img[src$='folder_green.svg'],
img[src$='plus.svg'],
img[src$='minus.svg']
 {
  position: relative;
  width: 20px;
  top: -1px;
  left: -2px;
}

/* DIRS PANEL */
#pnlDirList ul {
    display: none;
}
.pnlDirs {
  font-family: Verdana;
  font-size: 11px;
}
.pnlDirs ul li {
  list-style: none;
}
#pnlDirList {
  padding: 0px;
}
#pnlDirList div {
    padding: 4px;
    cursor: pointer;
}
#pnlDirList ul {
    padding: 0 0 0 20px;
}
#pnlDirList .dirPlus {
  font-size: 14px;
  color: #777;
  float: left;
  position: relative;
  top: -2px;
  
}
#pnlDirList .dir {
  font-size: 14px;
  color: #f9d262;
  float: left;
  margin-right: 5px;
}

/*PANELS */
.scrollPane {
  min-height: 200px;
  
}
.pnlFiles .scrollPane {
  margin-top: 15px;
  min-height: 160px;
}
.pnlFiles li img {
  margin-right: 6px;
  margin-top: -3px;
}
.pnlFiles ul.thumbView img[src='images/blank.gif'] {
  background-position: center;
  background-repeat: no-repeat;
}
.main-panel > .panel-body{
  padding: 0px;
}
div.row {
  margin: 0px;
  padding: 0px;
}
div.row > div{
  padding: 5px;
}

.dirsPanel ul, .filesPanel ul {
  list-style: none;
  padding: 0px;
}
.panel-heading {
  padding: 5px
}
.pnlDragFile,.pnlDragDir{
  opacity:0.8;
  float:left;
  width:auto !important;
}
.pnlDragFile span,.pnlDragDir span{
  color: #999;
  font-family: Verdana;
  font-size: 11px;
}


/* DIRS PANEL */
#pnlDirList div:hover {
  border-radius: 3px;
  background-color: #f5f5f5 !important;
}
#pnlDirList .selected, #pnlDirList .selected:hover {
  background-color: #eee !important;
  color: #337ab7;
  border-radius: 3px;
}


/* FILES PANEL */
.panel-heading button {
  background-repeat: no-repeat !important;
  padding-left: 30px !important;
}
.filesPanel .panel-body {
  padding-top: 0px;
}
.filesPanel ul.actions > li {
  padding: 5px;
}
#pnlFileList li {
  float: left;
  padding: 3px;
  clear: both;
  width: 100%;
  cursor: pointer;
}
#pnlFileList .size {
  float: right;
  margin-left: 20px;
}
#pnlFileList .time {
  float: right;
  margin-left: 25px;
  width: 120px;
}
#pnlFileList li:hover {
  background-color: #f5f5f5 !important;
}
.contextMenu a:hover, #pnlFileList .selected, #pnlFileList .selected:hover, #menuFile a:hover {
  background-color: #eee !important;
  color: #337ab7;
  border-radius: 3px;
}


/* FILES GRID VIEW */
ul#pnlFileList.thumbView li {
  width: 162px !important;
  height: 162px !important;
  float: left !important;
  clear: none;
  margin: 0 6px 6px 0;
  overflow: hidden;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #EEE;
  border-radius: 5px;
  position: relative;
}
ul#pnlFileList.thumbView li .icon {
    width: 140px;
}
ul#pnlFileList.thumbView li span {
  width: 100%;
  margin-top: 5px;
}
ul#pnlFileList.thumbView li span.time,
ul#pnlFileList.thumbView li span.name {
  display: none;
}


/* MODALS */
.modal-header, .modal-footer {
  padding: 10px 15px;
}
#drop {
  background-color: #ececec;
  padding: 40px 50px;
  margin-bottom: 30px;
  border-radius: 3px;
  border: 3px dashed #dadada;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  color: #7f858a;
}
#drop input {
    display: none;
}
#drop #browse-files {
  outline: none;
}
#uploadFilesList .alert {
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 2px 5px 2px 10px;
  border: 1px solid #f3ededf7;
}
#uploadFilesList .fileName {
  position: relative !important;
}


/* FILE UPLOAD MODAL */
.fileUpload {
  background: transparent;
  width: 94%;
}
.fileUpload .btns-wrapper {
  display: inline;
  float: right;
  position: relative;
  width: 20px;
  height: 20px;
  left: 30px;
}
.fileUpload .btns-wrapper .close {
  position: absolute;
  font-size: 16px;
  top: 1px;
  right: 4px;
  color: red;
  opacity: .8;
  z-index: 10;
}
.fileUpload .btns-wrapper .knob-wrapper {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
}
.fileUpload .btns-wrapper .fa-check {
  position: absolute;
  left: 2px;      
  font-size: 16px;
}
.uploadError{
  color: #ff8787;
}
.uploadComplete{
  color: #18a916;
}


/* POPOVER */
.popover {
  min-width: 330px;
}
.popover .img-thumbnail {
  float: left;
  margin-bottom: 10px;
  margin-right: 10px;
}
.popover .data-wrapper {
  font-size: 14px
}